<div id="MyTripPage">

  <div class="headingContainer">
    <h1><i class="fas fa-passport"></i>我的行程縱覽</h1>
    <a href="<%= trips_new_path %>"><i class="fas fa-plus-circle"></i> 建立行程</a>
  </div>

  <div class="tripOverviewContainer">

    <ul class="nav" id="myTab" role="tablist">
      <li class="nav-item tab1" role="presentation">
        <button class="nav-link active mytriptab" id="ownedtrips-tab" data-bs-toggle="tab" data-bs-target="#ownedtrips" type="button" role="tab" aria-controls="ownedtrips" aria-selected="true">我的行程</button>
      </li>
      <li class="nav-item tab2" role="presentation">
        <button class="nav-link mytriptab" id="followedtrips-tab" data-bs-toggle="tab" data-bs-target="#followedtrips" type="button" role="tab" aria-controls="followedtrips" aria-selected="false">參與的行程</button>
      </li>
    </ul>

    <hr class="divider">

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="ownedtrips" role="tabpanel" aria-labelledby="ownedtrips-tab">
        <% if @trips_yours.length == 0 %>
            
          <div class="gridContainer tripListBox">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="tripdataEmpty">
                  <a href="<%= trips_new_path %>">
                    <img src="https://gotripmapicons.s3.ap-southeast-1.amazonaws.com/notrip.png" alt="">
                  </a>
                  <p>Bon Voyage!</p>
                </div>
              </div>
            </div>
          </div>

        <% else %>
   
          <h2 class="trip-time-section-title"><i class="fas fa-map-marked-alt"></i> 進行中的行程</h2>
          <div class="gridContainer tripListBox">
            <% if @trips_yours_now.length != 0 %>
            <div class="row rowWithIllustrationNow">
            <% else %>
            <div class="row">
            <% end %>
              <% @trips_yours_now.each do |trip| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="tripdata">
                    <div class="timetag_now">正在進行</div>
                    <div class="tripdataPic">
                      <img src="https://picsum.photos/300/200/?random=<%= rand(1..10) %>">
                    </div>
                    <div class="tripdataText">
                      <h2><%= trip.name %></h2>
                      <p><i class="far fa-calendar-alt"></i> <%= trip.start_date.to_date.strftime('%Y / %b / %d') %>～<%= trip.end_date.to_date.strftime('%Y / %b / %d')%></p>
                      <% if trip.length > 1 %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天<%= trip.length - 1%>夜</p>
                      <% else %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天</p>
                      <% end %>
                    </div>
                    <!-- <#%= link_to "edit", trips_edit_path(trip) %> -->
                    <div class="tripControlBox">
                      <div>
                        <a href=""data-controller="getinvitecard" data-getinvitecard-target="button" data-action="click->getinvitecard#showInviteCard" data-intripid="<%= trip.id %>"><i class="fas fa-users"></i> 邀請旅伴</a>
                      </div>
                      <div>
                        <a href=""data-controller="authority" data-authority-target="rightbtn" data-action="click->authority#showRightCard" data-autripid="<%= trip.id %>"><i class="fas fa-unlock-alt"></i> 權限設定</a>
                      </div>
                      <div>
                        <i class="fas fa-trash-alt"></i>
                        <%= link_to "刪除行程", trips_delete_path(trip.id), method: "delete", data: { confirm: "確認刪除" } %>
                      </div>
                    </div>
                    <%= link_to '', trip_plan_path(trip.id), data:{ turbolinks: "false" }, class: "planPageLink"  %>
                  </div>
                </div>
              <% end %>
            </div> 
            <hr class="trips-time-divider"> 
            <h2 class="trip-time-section-title"><i class="fas fa-map-marked-alt"></i> 即將到來的行程</h2>
            <% if @trips_yours_future.length != 0 %>
            <div class="row rowWithIllustrationFuture">
            <% else %>
            <div class="row">
            <% end %>
              <% @trips_yours_future.each do |trip| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="tripdata">
                    <div class="timetag_future">即將到來</div>
                    <div class="tripdataPic">
                      <img src="https://picsum.photos/300/200/?random=<%= rand(1..10) %>">
                    </div>
                    <div class="tripdataText">
                      <h2><%= trip.name %></h2>
                      <p><i class="far fa-calendar-alt"></i> <%= trip.start_date.to_date.strftime('%Y / %b / %d') %>～<%= trip.end_date.to_date.strftime('%Y / %b / %d')%></p>
                      <% if trip.length > 1 %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天<%= trip.length - 1%>夜</p>
                      <% else %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天</p>
                      <% end %>
                    </div>
                    <!-- <#%= link_to "edit", trips_edit_path(trip) %> -->
                    <div class="tripControlBox">
                      <div>
                        <a href=""data-controller="getinvitecard" data-getinvitecard-target="button" data-action="click->getinvitecard#showInviteCard" data-intripid="<%= trip.id %>"><i class="fas fa-users"></i> 邀請旅伴</a>
                      </div>
                      <div>
                        <a href=""data-controller="authority" data-authority-target="rightbtn" data-action="click->authority#showRightCard" data-autripid="<%= trip.id %>"><i class="fas fa-unlock-alt"></i> 權限設定</a>
                      </div>
                      <div>
                        <i class="fas fa-trash-alt"></i>
                        <%= link_to "刪除行程", trips_delete_path(trip.id), method: "delete", data: { confirm: "確認刪除" } %>
                      </div>
                    </div>
                    <%= link_to '', trip_plan_path(trip.id), data:{ turbolinks: "false" }, class: "planPageLink"  %>
                  </div>
                </div>
              <% end %>
            </div>
            <hr class="trips-time-divider">
            <h2 class="trip-time-section-title"><i class="fas fa-map-marked-alt"></i> 已結束的行程</h2> 
            <% if @trips_yours_past.length != 0 %>
            <div class="row rowWithIllustrationPast">
            <% else %>
            <div class="row">
            <% end %>
              <% @trips_yours_past.each do |trip| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="tripdata">
                    <div class="timetag_past">已經結束</div>
                    <div class="tripdataPic">
                      <img src="https://picsum.photos/300/200/?random=<%= rand(1..10) %>">
                    </div>
                    <div class="tripdataText">
                      <h2><%= trip.name %></h2>
                      <p><i class="far fa-calendar-alt"></i> <%= trip.start_date.to_date.strftime('%Y / %b / %d') %>～<%= trip.end_date.to_date.strftime('%Y / %b / %d')%></p>
                      <% if trip.length > 1 %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天<%= trip.length - 1%>夜</p>
                      <% else %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天</p>
                      <% end %>
                    </div>
                    <!-- <#%= link_to "edit", trips_edit_path(trip) %> -->
                    <div class="tripControlBox">
                      <div>
                        <a href=""data-controller="getinvitecard" data-getinvitecard-target="button" data-action="click->getinvitecard#showInviteCard" data-intripid="<%= trip.id %>"><i class="fas fa-users"></i> 邀請旅伴</a>
                      </div>
                      <div>
                        <a href=""data-controller="authority" data-authority-target="rightbtn" data-action="click->authority#showRightCard" data-autripid="<%= trip.id %>"><i class="fas fa-unlock-alt"></i> 權限設定</a>
                      </div>
                      <div>
                        <i class="fas fa-trash-alt"></i>
                        <%= link_to "刪除行程", trips_delete_path(trip.id), method: "delete", data: { confirm: "確認刪除" } %>
                      </div>
                    </div>
                    <%= link_to '', trip_plan_path(trip.id), data:{ turbolinks: "false" }, class: "planPageLink"  %>
                  </div>
                </div>
              <% end %>
            </div>    
          </div>
        
        <% end %>
            
      </div>  

      <div class="tab-pane fade" id="followedtrips" role="tabpanel" aria-labelledby="followedtrips-tab">
        <% if @trips_followed.length == 0 %>

          <div class="gridContainer tripListBox">
            <div class="row">
              <div class="col-lg-12">
                <div class="followedTripdataEmpty">
                  <p>目前尚無加入/被邀請的行程</p>
                </div>
              </div>
            </div>
          </div>

        <% else %>

          <h2 class="trip-time-section-title"><i class="fas fa-map-marked-alt"></i> 進行中的行程</h2>
          <div class="gridContainer tripListBox">
            <% if @trips_followed_now.length != 0 %>
            <div class="row rowWithIllustrationNow">
            <% else %>
            <div class="row">
            <% end %>
              <% @trips_followed_now.each do |trip| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="tripdata">
                    <div class="timetag_now">正在進行</div>
                    <div class="tripdataPic">
                      <img src="https://picsum.photos/300/200/?random=<%= rand(1..10) %>">
                    </div>
                    <div class="tripdataText">
                      <h2><%= trip.name %></h2>
                      <p><i class="far fa-calendar-alt"></i> <%= trip.start_date.to_date.strftime('%Y / %b / %d') %>～<%= trip.end_date.to_date.strftime('%Y / %b / %d')%></p>
                      <% if trip.length > 1 %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天<%= trip.length - 1%>夜</p>
                      <% else %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天</p>
                      <% end %>
                    </div>
                    <%= link_to '', trip_plan_path(trip.id), data:{ turbolinks: "false" }, class: "planPageLink"  %>
                  </div>
                </div>
              <% end %>
            </div> 
            <hr class="trips-time-divider"> 
            <h2 class="trip-time-section-title"><i class="fas fa-map-marked-alt"></i> 即將到來的行程</h2>
            <% if @trips_followed_now.length != 0 %>
            <div class="row rowWithIllustrationFuture">
            <% else %>
            <div class="row">
            <% end %>
              <% @trips_followed_future.each do |trip| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="tripdata">
                    <div class="timetag_future">即將到來</div>
                    <div class="tripdataPic">
                      <img src="https://picsum.photos/300/200/?random=<%= rand(1..10) %>">
                    </div>
                    <div class="tripdataText">
                      <h2><%= trip.name %></h2>
                      <p><i class="far fa-calendar-alt"></i> <%= trip.start_date.to_date.strftime('%Y / %b / %d') %>～<%= trip.end_date.to_date.strftime('%Y / %b / %d')%></p>
                      <% if trip.length > 1 %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天<%= trip.length - 1%>夜</p>
                      <% else %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天</p>
                      <% end %>
                    </div>
                    <%= link_to '', trip_plan_path(trip.id), data:{ turbolinks: "false" }, class: "planPageLink"  %>
                  </div>
                </div>
              <% end %>
            </div>
            <hr class="trips-time-divider">
            <h2 class="trip-time-section-title"><i class="fas fa-map-marked-alt"></i> 已結束的行程</h2> 
            <% if @trips_followed_now.length != 0 %>
            <div class="row rowWithIllustrationPast">
            <% else %>
            <div class="row">
            <% end %>
              <% @trips_followed_past.each do |trip| %>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="tripdata">
                    <div class="timetag_past">已經結束</div>
                    <div class="tripdataPic">
                      <img src="https://picsum.photos/300/200/?random=<%= rand(1..10) %>">
                    </div>
                    <div class="tripdataText">
                      <h2><%= trip.name %></h2>
                      <p><i class="far fa-calendar-alt"></i> <%= trip.start_date.to_date.strftime('%Y / %b / %d') %>～<%= trip.end_date.to_date.strftime('%Y / %b / %d')%></p>
                      <% if trip.length > 1 %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天<%= trip.length - 1%>夜</p>
                      <% else %>
                      <p><i class="far fa-clock"></i> <%= trip.length %>天</p>
                      <% end %>
                    </div>
                    <%= link_to '', trip_plan_path(trip.id), data:{ turbolinks: "false" }, class: "planPageLink"  %>
                  </div>
                </div>
              <% end %>
            </div>    
          </div>

        <% end %>
      </div>

    </div>
    
  </div>


    <div id="inviteSearchSection" class="hide-search-section">
    <div data-controller="tripinvite" class="inviteSearchModal">
      <div class="inviteSearchTitle">
        <h1>邀請朋友加入行程</h1>
        <button class="closebtn" data-action="click->tripinvite#closeSearchCard">
          <p>✕</p>
        </button>
      </div>
      <div class="searchform">
        <form>
          <input data-tripinvite-target="emailinput" type="email" placeholder="請輸入e-mail" required>
          <input data-action="click->tripinvite#search" type="submit" value="搜尋" class="searchbtn">
        </form>
      </div>
      <div class="searchresultbox"></div>
    </div>
  </div>

  <div id="rightresultcard" class="hide-right-section">
    <div data-controller="authority" class="roleeditmodal">
      <div class="rightedittitle">
        <h1>目前行程所有夥伴</h1>
        <button class="au-closebtn" data-action="click->authority#closeRightCard"><p>✕</p>
        </button>
      </div>
        <div class="rightresultbox"></div>
    </div>
  </div>

   

