<%#= render 'layouts/header_trip' %>
<div class="new-trip-container">
  <div class="new-trip-wrap">
    <h1 class="new-trip-page-title">建立行程</h1>
    <div class="new-trip-form-body">
      <h2 class="new-trip-form-title">行程資訊</h2>
      <%= form_for(@trip, url: trips_create_path) do |t| %>
      <div class="new-trip-form-content">
        <div class="new-trip-fieldname">
          <%= t.label :name, "行程名稱" %>
        </div>
        <div>
          <%= t.text_field :name ,class:'new-trip-field'%>
        </div>
        <div class="new-trip-fieldname">
          <%= t.label :length, "天數" %>
        </div>
        <div>
          <%= t.number_field :length, min: 1 ,class:'new-trip-field'%>
        </div>
        <div class="new-trip-fieldname">
          <%= t.label :start_date, "開始日期"%>
        </div>
        <div>
          <%= t.date_field :start_date, start_year: 1800, end_year: Time.now.year ,class:'new-trip-field'%>
        </div>
        <div class="new-trip-button-box">
          <%= t.submit "建立行程" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="new-trip-message">
    <p>全新旅程即將展開!</p>
    <h1>祝你旅程精彩無比</h1>
  </div>
</div>

<%#= render 'layouts/footer' %>