<%#= render 'layouts/header_trip' %>
<div class="new-trip-container">
  <div class="new-trip-wrap">
    <h1 class="new-trip-title">建立行程</h1>
    <div class="new-trip-form-body">
      <%= form_for(@trip, url: trips_create_path) do |t| %>
    <div class="new-trip-field">
      <%= t.label :name, "行程名稱" %>
      <%= t.text_field :name %>
    </div>
    <div class="new-trip-field">
      <%= t.label :length, "天數" %>
      <%= t.number_field :length, min: 1 %>
    </div>
    <div class="new-trip-field">
      <%= t.label :start_date, "開始日期" %>
      <%= t.date_field :start_date, start_year: 1800, end_year: Time.now.year %>
    </div>
    <div class="new-trip-button-box">
      <%= t.submit "建立行程" %>
    </div>
      <% end %>
    </div>

    <div class="new-trip-message">
      <p>全新旅程即將展開!</p>
      <h1>祝你旅程精彩無比</h1>
    </div>
  </div>
</div>
<%#= render 'layouts/footer' %>