<h2>編輯顯示名稱</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :姓名 %><br />
    <%= f.text_field :name, placeholder: '請輸入姓名' %>
  </div>  

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>刪除帳號</h3>

<p>不想再使用我們的服務了嗎？ <%= button_to "刪除我的帳號", registration_path(resource_name), data: { confirm: "您的帳號將被從此消失，確定嗎？" }, method: :delete %></p>

<%= link_to "Back", :back %>
