<h2>編輯顯示圖像</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <%= image_tag @user.avatar_url, class:"avatar_original" %><br/>
    <%= f.file_field :avatar, accept: "image/gif, image/jpeg, image/gif, image/png"  %>
    <p>
      <label>
        <%= f.check_box :remove_avatar %>
        回復預設圖像
      </label>
    </p>
    <div class="actions">
      <%= f.submit "更新個人圖像" %>
    </div>
<% end %>
<br/>
<h2>編輯顯示名稱</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :姓名 %><br />
    <%= f.text_field :name, placeholder: '請輸入姓名' %>
  </div>  

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
<br/>
<h3>刪除帳號</h3>

<p>不想再出去走走了嗎？ <%= button_to "刪除我的帳號", registration_path(resource_name), data: { confirm: "您的帳號將被從此消失，確定嗎？" }, method: :delete %></p>

<%= link_to "Back", :back %>
