<%= render 'layouts/header1' %>
<h2>註冊</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: '姓名' %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '郵件Email' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: '密碼' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '重新輸入密碼' %>
  </div>

  <div class="actions">
    <%= f.submit "立即加入" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= render 'layouts/footer' %>