<%= render 'layouts/header_index' %>
<div class="users-container">
  <div class="users-wrap">

      <div class="register-login-form">
        <h2 class="register-login-title">註冊GoTrip</h2>
        <div class="register-login-form-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div>
            <%= f.text_field :name, placeholder: '姓名', class:'register-field' %>
          </div>
          
          <div>
            <%= f.email_field :email, autocomplete: "email", placeholder: '郵件Email', class:'register-field' %>
          </div>

          <div>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: '密碼', class:'register-field' %>
          </div>

          <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '重新輸入密碼', class:'register-field' %>
          </div>

          <div class="register-login-button-box">
            <%= f.submit "立即加入" %>
          </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>

  </div>

  <div class="registeration-message-illustration-box">
    <div class="register-page-title">
      <p>從今天開始，讓GoTrip成為</p>
      <h1>你旅程規劃的好夥伴</h1>
    </div>
    <div class="register-page-image-box">
      <img src="/images/registration_illustration.png" alt="">
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>