<%= content_for :header do %> 
<div class="trip-header-outter-box">
  <div class="header-trip-wrap">
    <!-- <div class="user-container">
      <img class="trip-header-logo" src="/images/logo-white.png" alt="gotrip-logo">
      <div class="user-show">
        <img src="<#%= current_user.show_image %>" alt="嗨" class="user-show-image">
        <p><#%= link_to current_user.display_name, edit_user_registration_path %></p>
      </div>  
      <#%= link_to "登出", destroy_user_session_path, method: :delete, data: {confirm:'您的帳號將登出。掰掰～下次再一起出遊。'} %><p></p>
      <#%= link_to "我的行程", trips_path %>
    </div> -->

    <img class="trip-header-logo" src="/images/logo-white.png" alt="gotrip-logo">

    <input type="checkbox" id="list-checked">
    <label for="list-checked">
      <div class="header-in-nav-after">
        <div class="header-in-user-show">
          <img src="<%= current_user.show_image %>" alt="嗨">
          <p class="header-in-user-info"><%= current_user.display_name %></p>
        </div>  
      </div>
    </label> 
    <div class="header-in-after-list">
      <%= link_to "<div class='gotrip-header-nav-btn gotrip-mytrip'>我的行程</div>".html_safe, trips_path %>
      <%= link_to "<div class='gotrip-header-nav-btn gotrip-myinfo'>個人資訊</div>".html_safe, edit_user_registration_path %>
      <%= link_to "<div class='gotrip-header-nav-btn gotrip-myinfo'>登出</div>".html_safe, destroy_user_session_path, method: :delete, data: {confirm:'您的帳號將登出。掰掰～下次再一起出遊。'} %>
    </div>   
  </div>
</div>
<% end %>