<%= content_for :header do %> 
  <div class="header-trip-wrap">
    <div class="user-container">
      <div class="user-show">
        <img src="<%= current_user.show_image %>" alt="嗨" class="user-show-image">
        <p><%= link_to current_user.display_name, edit_user_registration_path %></p>
      </div>  
      <%= link_to "登出", destroy_user_session_path, method: :delete, data: {confirm:'您的帳號將登出。掰掰～下次再一起出遊。'} %><p></p>
      <%= link_to "我的行程", trips_path %>
    </div>
  </div>
<% end %>