<!DOCTYPE html>
<html>
  <head>
    <title>Trips</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 加上fontawesome CDN -->
    <script src="https://kit.fontawesome.com/324f1d4275.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY']%>&callback=mapInitialization&v=weekly" async defer ></script>
    
  </head>

  <body>
    <div id="navbar">
      <%= yield :navbar %>
    </div>
    
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
</html>
